@import url('https://fonts.googleapis.com/css?family=Lato');

/* STRUCTURE */
html {
    height: 100%;
}

body {
    background-image: url('../Img/cheval.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Lato';
    color: #000;
    min-height: 120%;
    position: relative;

}

.row {
    margin-left: 0px;
    width: 100%;
}

.container-fluid {
    margin-top: 50px;
}

/* HEADER */

header {
    margin-top: 50px;
}

#button {
    margin-top: 100px;
    text-align: center;
}

#gagner {
    -webkit-transform: rotate(4deg);
    display: inline-block;
    border-style: ridge;
    border-color: midnightblue;
    color: #ECE9F0;
    border-width: 4px;
    border-radius: 5px 5px 5px 5px;
    font-size: 30px;
    background-color: #90ABD6;
    padding: 10px;
}

#safariz {
    -webkit-transform: rotate(-6deg);
    -webkit-transform-style: preserve-3d;
    display: inline-block;
    color: #ECE9F0;
    border-style: ridge;
    border-color: midnightblue;
    border-width: 4px;
    border-radius: 5px 5px 5px 5px;
    font-size: 50px;
    background-color: #A5946A;
    padding: 20px 10px;
}

#camargue {
    -webkit-transform: rotate(4deg);
    display: inline-block;
    border-style: ridge;
    border-color: midnightblue;
    color: #ECE9F0;
    border-width: 4px;
    border-radius: 5px 5px 5px 5px;
    font-size: 30px;
    background-color: #90ABD6;
    padding: 10px;
}

/* FOOTER */

footer {
    background: rgba(247, 249, 251, 0.7);
    position: absolute;
    width: 100%;
    bottom: auto;
    left: 0;
}

/* NAV */

.navbar {
    margin-left: 3em;
    margin-top: 3em;
}

.btn-lg {
    font-size: 2.25rem;
}

/* UTILITIES */

.img-responsive {
    display: inline-block;
    width: 70px;
    height: auto;
}

#compte_a_rebours {
    color: crimson;
    word-wrap: break-word;
    font-size: 20px;
}

.center {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

a {
    color: #5175A9;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #5175A9;
    outline-style: none; /* enleve les pointilles apres le click */
}

/** Formulaires **/

.boxed-grey {
    background-color: #eee;
    padding: 30px 40px 40px;
    margin: 10px 0px 40px;
    background: rgba(247, 249, 251, 0.7);
}

form#contact-form .form-group label {
    text-align: left !important;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;

}

form#contact-form input, form#contact-form textarea {
    border-radius: 0;
    border: 1px solid #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form#contact-form input:focus, form#contact-form textarea:focus {
    border-color: #5175A9;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.input-group-addon {
    background-color: #fefefe;
    border: 1px solid #eee;
    border-radius: 0;
}

/* Boutons */

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    white-space: normal;
}

.btn:hover,
.btn:focus {
    color: #fff;
    text-decoration: none;
}

.btn-form {
    color: #fff;
    background-color: #5175A9;
    border-color: #5175A9;
    cursor: pointer;

}

#btnRegister {
    color: #fff;
    background-color: #5175A9;
    border-color: #5175A9;
    cursor: pointer;
    margin-left: 1em;
    margin-top: 0.5em;
    margin: 2px 2px 2px;
    padding: 5px 5px 5px;

}

#reglement {
    max-height: 500px;
    overflow: auto;
}

.lot{
    color: #5175A9;
    font-weight: bold;
}

/* Erreurs */
.errorLogin {
    color: #cc0000;
}

.error {
    color: crimson;
    border: solid 1px crimson;
    background: #ffe0e6;
}

.valid {
    color: forestgreen;
    border: solid 1px forestgreen;
}

#feedback {
    color: crimson;
    font-weight: bold;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Médias Queries */
@media (max-width: 375px) {

    .navbar-expand .navbar-nav {
        flex-direction: column;
    }

    footer {
        bottom: auto;
    }

    #gagner {

        border-width: 2px;
        border-radius: 1px 1px 1px 1px;
        font-size: 10px;
        display: inline-block;
    }

    #safariz {

        border-width: 2px;
        border-radius: 1px 1px 1px 1px;
        font-size: 15px;
        display: inline-block;
    }

    #camargue {

        border-width: 2px;
        border-radius: 1px 1px 1px 1px;
        font-size: 10px;
        display: inline-block;
    }
}

/* Extra small devices (portrait phones, less than 465px) */

@media (min-width: 375px) and (max-width: 465px) {

    #btnRegister {
        line-break: inherit;
    }

    .navbar-expand .navbar-nav {
        flex-direction: column;
    }

    footer {
        bottom: auto;
    }

    #gagner {

        border-width: 2px;
        border-radius: 2px 2px 2px 2px;
        font-size: 14px;
        display: inline-block;
    }

    #safariz {

        border-width: 2px;
        border-radius: 2px 2px 2px 2px;
        font-size: 19px;
        display: inline-block;
    }

    #camargue {

        border-width: 2px;
        border-radius: 2px 2px 2px 2px;
        font-size: 14px;
        display: inline-block;
    }
}

/* Small devices (landscape phones, 465px and up) */
@media (min-width: 465px) and (max-width: 768px) {
    .navbar-expand .navbar-nav {
        flex-direction: column;
    }

    footer {
        bottom: auto;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    footer {
        bottom: auto;
        left: 0;
        right: 0;
    }

    #adminForm, #formParticipants {
        margin: 15px 15px 15px;
        padding: 15px 15px 15px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    footer {
        bottom: auto;
    }

    #adminForm, #formParticipants {
        margin: 15px 15px 15px;
        padding: 15px 15px 15px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    footer {
        bottom: auto;
    }

    #adminForm, #formParticipants {
        margin: 25px 25px 25px;
        padding: 25px 25px 25px;
    }
}

@media (min-height: 600px) {
    footer {
        bottom: 0;
    }
}

/* CODE COLORS */

/* BLANC #ECE9F0 */

/* BLEU CLAIR #90ABD6 */

/* BLEU FONCE #5175A9 */

/* MARRON CLAIR #A5946A */

/* MARRON FONCE #765F3C */